# we do not store binary outputs in Flex

/demo/compiler/vc14win64/.vs/*

/demo/compiler/vc14win64/release/*
/demo/compiler/vc14win64/build/*

/extensions/compiler/vc14win64/release/*
/extensions/compiler/vc14win64/build/*

# /demo/compiler/vc14win64/* 
# /extensions/compiler/vc14win64/* 
/doc/*
/bin/*/

!bin/win64/SDL2.dll
!bin/win64/Leap.dll
!bin/win64/openvr_api.dll