# we do not store binary outputs in Flex

/demo/compiler/vc14win64/.vs/*

/demo/compiler/vc14win64/release/*
/demo/compiler/vc14win64/build/*

/extensions/compiler/vc14win64/release/*
/extensions/compiler/vc14win64/build/*

# /demo/compiler/vc14win64/* 
# /extensions/compiler/vc14win64/* 
/doc/*

/bin/win64/NvFlexDemoRealseCuda_x64.exe.pdb
/bin/win64/flexDemoCUDA.iobj
/bin/win64/flexDemoCUDA.ipdb
/bin/win64/flexDemoCUDA.exe